@import "navbar.css";
@import "pictures.css";

*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background-color: #17191a;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 25px;
}



.data-info{
    max-width: 700px;   
}

.img{
    max-width: 700px;
}

.img img{
    width:600px;
}

.data-info p{
    color: white;
    font-size: 25px;
}
/*  */

.data-info h1{
    line-height: 60px;
    color: white;
    font-size: 6rem;
}

@media screen and (max-width: 1200px) {

    .container {
        padding-top: 110px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .img img{
        width:350px;
    }
    
    .data-info p{
        color: white;
        font-size: 15px;
    }
    /*  */
    
    .data-info h1{
        color: white;
        font-size: 4rem;
        line-height: 60px;
        color: white;
        padding-bottom: 35px;
    }
}