@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Titillium+Web&display=swap');

.menu {
    display: none;
}


#navbar {
    position: relative;
    padding: 0 25px 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
    background-color: transparent;
    position: relative;
}





#navbar ul {
    list-style: none;
    float: right;
}

#navbar span{
    cursor: pointer;
}

#navbar ul li {
    display: inline-block;
    padding: 0 1.5rem;
    transition: opacity .3s;
}

#navbar ul li a {
    text-decoration: none;
    color: #fff;
}




#navbar:hover ul li:not(:hover) {
    opacity: .7;
}

@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }

    .menu {
        display: block;
        position: fixed;
        width: 3rem;
        height: 2rem;
        top: 1.7rem;
        right: 1.7rem;
        z-index: 999;
        cursor: pointer;
    }

    .bar,
    .bar::before,
    .bar::after {
        position: absolute;
        background-color: #fff;
        margin: auto;
        width: 100%;
        height: 4px;
        content: "";
        top: 50%;
        left: 0;
    }

    .bar {
        margin-top: -2px;
    }

    .bar::before {
        top: -1.2rem;
    }

    .bar::after {
        top: 1.2rem;
    }

    .bar::before,
    .bar::after {
        transform: rotate(0deg);
        transition: all 0.5s;

    }

    .active .bar {
        background-color: transparent;
    }

    .active .bar::before {
        transition: all 0.5s;
        transform: rotate(45deg);
    }

    .active .bar::after {
        transform: rotate(-45deg);
        transition: all 0.5s;

    }

    .active .bar::before,
    .active .bar::after {
        top: 0;
    }

    #navbar {
        /* transition: all 0.5s; */
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #222527;
        position: fixed;
        transform: translateX(-50rem);
        z-index: 998;
        line-height: 1;
        font-size: 2.5rem;
        /* transition: transform .6s cubic-bezier(0.56, 0.1, 0.34, 0.91); */
    }

    .menu-open #navbar {
        transform: translateX(0);
    }

    #navbar ul {
        width: 100%;
        text-align: center;
    }

    #navbar ul li {
        font-size: 1.5rem;
        display: block;
        padding: 3rem 1rem;
    }

    .main-text h1 {
        font-size: 2.5rem;
    }

    .main-text h3 {
        font-size: 1.5rem;
    }
}